@media (max-width: 900px) {
    main {
        width: 95%;
    }
}
@media (max-width: 700px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }
    .img {
        width: 80%;
    }
    .text {
        width: 80%;
    }
}
