body {
    background-color: #e0e0e0;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    margin: 0;
    height: 100%;
    padding: 0;
}
main {
    align-items: flex-end;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 85%;
}
.img {
    display: flex;
    justify-content: center;
    width: 35%;
}
.image {
    width: 100%;
}
.text {
    display: table-cell;
    vertical-align: bottom;
    width: 65%;
}
.main-title {
    color: #898989;
    font-size: 70px;
}
.description {
    color: #898989;
    font-size: 30px;
    margin-bottom: 0;
}
.link {
    color: #5785b7;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
