body {
    background-color: #e0e0e0;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}
main {
    align-items: flex-end;
    display: flex;
    height: 95vh;
    justify-content: center;
    width: 95%;
}
.img {
    display: flex;
    justify-content: center;
    width: 40%;
}
.image {
    width: 100%;
}
.text {
    display: table-cell;
    vertical-align: bottom;
    width: 60%;
}
.main-title {
    color: #898989;
    font-size: 70px;
}
.description {
    color: #898989;
    font-size: 30px;
}
